{% extends "contacts/base.html" %}

{% block title %}Notes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Notes</h2>
    <div class="notes-container">
        {% for note in notes %}
        <div class="note">
            <strong>{{ note.title }}</strong>
            <div class="note-actions">
                <a href="{% url 'notes:note_update' note.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'notes:note_delete' note.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'notes:note_create' %}" class="btn btn-success mt-3">Create a new note</a>
    
    <div class="pagination">
        <span class="step-links">
            {% if notes.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ notes.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ notes.number }} of {{ notes.paginator.num_pages }}.
            </span>

            {% if notes.has_next %}
                <a href="?page={{ notes.next_page_number }}">next</a>
                <a href="?page={{ notes.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}

